<!DOCTYPE html>

<html>
<head>
    <title>nutrient_traffic_light_template</title>
    <!-- Put .css file it in the static folder! WORKS -->
    <link rel="stylesheet" href="/static/css_breakout.css">
</head>

<body>

<h3>
    Html Version Traffic Lights - HTML5 / CSS 
</h3>

<table>
    <tr>
        <td colspan="5">{{ recipe_name }} - Nutrition per {{ serving_size }} serving</td>
        <!-- Thresholds HERE: https://en.wikipedia.org/wiki/Traffic_light_rating_system -->
    </tr>
    <tr>
        <td>Energy</td>
        <td class="traffic_light" id="traffic_fat">Fat</td>
        <td class="traffic_light" id="traffic_saturates">Saturates</td>
        <td class="traffic_light" id="traffic_sugars">Sugars</td>
        <td class="traffic_light" id="traffic_salt">Salt</td>
    </tr>
    <tr>
        <td>{{ n_EnkJ }}kJ<br>{{ n_Encal }}kcal</td>
        <td class="traffic_light" id="traffic_fat">{{ n_Fa }}</td>
        <td class="traffic_light" id="traffic_saturates">{{ n_Fs }}</td>
        <td class="traffic_light" id="traffic_sugars">{{ n_Su }}</td>
        <td class="traffic_light" id="traffic_salt">{{ n_Sa }}</td>
    </tr>
    <tr>
        <td></td>
        <td class="traffic_light" id="traffic_fat">LOW</td>
        <td class="traffic_light" id="traffic_saturates">LOW</td>
        <td class="traffic_light" id="traffic_sugars">HIGH</td>
        <td class="traffic_light" id="traffic_salt">MEDIUM</td>
    </tr>
    <tr>
        <td>13%</td>
        <td class="traffic_light" id="traffic_fat">4%</td>
        <td class="traffic_light" id="traffic_saturates">7%</td>
        <td class="traffic_light" id="traffic_sugars">38%</td>
        <td class="traffic_light" id="traffic_salt">15%</td>
    </tr>
</table>

</body>
</html>